footer{
    text-align: center;
    height: 20vh ;
    border-top: 3px solid #a9508b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#FFFAF0;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    // position: absolute;
    // bottom: 0px;
}